* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo-first {
  color: #2196F3;
}

.logo-second-black {
  color: #212121;
}

.logo-second-white {
  color: #ffffff;
}

header {
  background-color: #ffffff;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.navigation {
  padding-left: 93px;
  display: flex;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation a:not(.current) {
  color: #212121;
}

.navigation li {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.navigation li:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: #2196F3;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contact {
  color: #757575;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.contact li {
  display: block;
}

.contact li:first-child {
  margin-right: 30px;
}

.contact .envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .vector {
  width: 16px;
  height: 18px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-text {
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: baseline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-text:hover, .contact-text:focus {
  color: #2196F3;
  fill: #2196F3;
}

.contact-text-vector {
  align-items: center;
}

.main-head {
  background-color: #2F303A;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-head h1 {
  margin: 0px 0px 30px 0px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
}

.button {
  color: #ffffff;
  background-color: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.button:hover, .button:focus {
  border: 1px solid #074f8a;
  font-size: 18px;
  outline: none;
}

.button:active {
  border: 1px solid #074f8a;
  outline: none;
}

.advantages {
  color: #757575;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  display: flex;
  justify-content: center;
  padding: 94px 0px;
}

.advantages ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.advantages h3 {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
}

.advantages-items {
  width: 270px;
}

.advantages-items::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.advantages-items:first-child::before {
  background-image: url(../img/svg/antenna.svg);
}

.advantages-items:nth-child(2)::before {
  background-image: url(../img/svg/clock.svg);
}

.advantages-items:nth-child(3)::before {
  background-image: url(../img/svg/diagram.svg);
}

.advantages-items:nth-child(4)::before {
  background-image: url(../img/svg/astronaut.svg);
}

.work-types {
  color: #212121;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 94px;
}

.work-types h2 {
  margin: 0px 0px 50px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.work-types-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.description {
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.description p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.work-types-items {
  margin: 0;
  position: relative;
}

.team {
  color: #212121;
  background-color: #F5F4FA;
  padding: 94px 0px;
}

.team p {
  color: #757575;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  margin: 0;
}

.team h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

.team h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 30px 0px 10px 0px;
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.team-list li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-bottom-container {
  display: flex;
  padding: 16px 32px 30px 32px;
  justify-content: space-between;
}

.icon-container {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container:hover, .icon-container:hover .team-bottom-icon {
  background-color: #2196F3;
  fill: #fff;
  cursor: pointer;
}

.team-list-item svg {
  width: 20px;
  height: 20px;
  display: block;
  fill: #AFB1B8;
  background-color: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_client {
  padding: 94px 0;
}

.our_client h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.our_client .client-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.our_client .client-list .client {
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_client .client-list .client svg {
  width: 45px;
  height: 50px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_client .client-list .client:hover, .our_client .client-list .client:focus,
.our_client .client-list .client:hover svg,
.our_client .client-list .client:focus svg {
  fill: #2196F3;
  border-color: #2196F3;
  cursor: pointer;
}

.footer {
  color: #757575;
  background-color: #2F303A;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 60px 0;
}

.footer p {
  color: #ffffff;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #757575;
}

.footer .container {
  display: flex;
}

.footer-left-side {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-right: 95px;
}

.footer-left-side .footer-adress {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-left-side .footer-adress .footer-contact {
  margin: 20px 0px 0px 0px;
  padding: 0;
}

.footer-link {
  display: block;
}

.footer-link h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
}

.footer-link .footer-link-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.icon:not(:last-child) {
  margin-right: 10px;
}

.icon:hover {
  background-color: #2196F3;
  cursor: pointer;
}

.portfolio {
  padding: 94px 0px 94px 0px;
}

.portfolio-header {
  border-bottom: 1px solid #ECECEC;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin: 0px 0px 50px 0px;
  padding: 0px;
}

.portfolio-nav .portf-nav-btn {
  color: #212121;
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px;
  margin: 0px 8px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav .portf-nav-btn:hover, .portfolio-nav .portf-nav-btn:focus {
  color: #ffffff;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav li {
  margin: 0px 8px;
  padding: 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
}

.portfolio-item {
  color: #212121;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -15px;
}

.portfolio-item h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}

.portfolio-item img {
  width: 370px;
  height: 294px;
}

.portfolio-item p {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.item-text {
  padding: 20px 24px;
}

.item {
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
  margin: 15px;
  width: 370px;
  position: relative;
}

.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.item:hover .item-description {
  transform: translateY(-100%);
}

.item .item-image {
  position: relative;
  overflow: hidden;
}

.item .item-image .item-description {
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .item-image .item-description .item-description-text {
  padding: 0 24px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 530px;
  height: 580px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal svg {
  width: 11px;
  height: 11px;
}

.modal-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.modal-form .button {
  color: #ffffff;
  background-color: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
}

.modal-form .button:focus, .modal-form .button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-wrapper {
  padding: 40px;
}

.modal-form-wrapper p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper .modal-input {
  color: #212121;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 40px;
}

.input-wrapper .modal-input:focus, .input-wrapper .modal-input:focus + .input-svg {
  border-color: #2196F3;
  fill: #2196F3;
}

.input-wrapper .input-svg {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 15px;
  top: 53%;
  transform: translateY(-50%);
}

.modal-input-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input-label textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.modal-input-label textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-label textarea:focus {
  outline: none;
  border-color: #2196F3;
}

.policy {
  display: flex;
  align-items: center;
}

.policy a {
  color: #2196F3;
}

.policy b {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.policy b::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-top: -3px;
  background: #FFFFFF;
  border: 2px solid black;
  border-radius: 4px;
}

.policy-input:checked + b::before {
  background-image: url(../img/svg/chek.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2196F3;
  border: 2px solid #2196F3;
  outline: none;
}

.modal-close-icon {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover {
  fill: #2196F3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.footer-form {
  width: 50%;
}

.footer-form p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.form-button {
  color: #ffffff;
  background-color: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.form-button:focus {
  outline: none;
  border: 1px solid #074f8a;
}

.form-button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/icon-send.png);
  margin-left: 10px;
}

.input {
  width: 370px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
}

.input:focus::placeholder {
  opacity: 0;
}

.input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */