.work-types {
  color: $primary-text-color;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 94px;
  h2 {
    margin: 0px 0px 50px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    text-align: center;
  }
}
.work-types-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.description {
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
  }
}
.work-types-items {
  margin: 0;
  position: relative;
}