.footer-form {
  width: 50%;
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
.form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.form-button {
  color: $white-text-color;
  background-color: $optional-text-color;
  border: 1px solid $optional-text-color;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border: 1px solid #074f8a;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/icon-send.png);
    margin-left: 10px;
  }
}