.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-first {
  color: $optional-text-color;
}
.logo-second-black {
  color: $primary-text-color;
}
.logo-second-white{
  color: $white-text-color;
}